[Unit]
Description=NetPlus MIS-AI Dashboard Gunicorn Daemon
After=network.target

[Service]
Type=notify
User=www-data
Group=www-data
RuntimeDirectory=netplus-mis
WorkingDirectory=/var/www/netplus-mis/backend
ExecStart=/var/www/netplus-mis/venv/bin/gunicorn \
    --config python:/config/gunicorn.py \
    config.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
